{% extends "blog/base.html"%}
{% block content %}
{% if user.is_authenticated %}

<hr>
{% for post in posts%}
<article class=" media content-section">
    <img width=60 height=60 src="{{post.author.profile.image.url}}">
    <div class="media-body">

        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts-list' post.author.id %}">{{ post.author }}</a>
            <small class="text-muted">Date Posted - {{ post.date_posted |date:"F d, Y"}}</small>
            <br>
        </div>
        
        <h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
</article>
{% endfor %}
{% else %}
{% endif %} 
{% endblock content %}