{% extends "blog/base.html"%}
{% block content %}
<article class="media content-section">

    <div class="media-body">
        <img class="mt-2" width=10% src="{{user.profile.image.url}}">
    </div>
    <div class="article-metadata">
        <a class="mr-2">{{ blog_of_user.username }}</a><br>
        <a class="mr-2">{{ blog_of_user.email }}</a><br>
        {% if request.user.username != blog_of_user.username %}
        {% if blog_of_user in request.user.geek.follow.all %}
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-outline-secondary" href="{% url 'follow-user' user.id %}">Unfollow</a>
        </form>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            <a class="btn btn-outline-secondary" href="{% url 'follow-user' user.id %}">Follow</a>
        </form>
        {% endif %}
        {% endif %}
    </div>
</article>
<hr>
{% for post in posts%}
<div class="article-metadata">
    <small class="text-muted">Date Posted - {{ post.date_posted |date:"F d, Y"}}</small>
    <br>
</div>
<h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
<p class="article-content">{{ post.content }}</p>

{% endfor %}
{% endblock content %}